<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338700867842-ej4cl0g1lrg659hvt0fmbrkfveiq0t7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338700867842-ej4cl0g1lrg659hvt0fmbrkfveiq0t7q</string>
	<key>API_KEY</key>
	<string>AIzaSyAji7w3QC4pUVxyDb_RqgNCf2Fs5-pwr04</string>
	<key>GCM_SENDER_ID</key>
	<string>338700867842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.increasedw.chaperonegame</string>
	<key>PROJECT_ID</key>
	<string>chaperonegame</string>
	<key>STORAGE_BUCKET</key>
	<string>chaperonegame.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338700867842:ios:9dad0d27e7d4a856954a1b</string>
</dict>
</plist>